body { margin: auto;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
#board{
    position: relative;
  overflow: hidden;
 /* adjust to your layout */
  background: linear-gradient( #f3f3f3, #eb8787);
margin-top: 30px;    
}